<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.mpetroff.campworkcoemanmap"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove"/>
    <!--<uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MapActivity"
            android:label="@string/launcher_label"
            android:exported="true">
            <intent-filter android:label="@string/launcher_label">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MapActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MapActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>
        <activity
            android:name=".AppCopyrightActivity"
            android:label="@string/title_activity_app_copyright"
            android:parentActivityName=".AboutActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>
        <activity
            android:name=".MapDataCopyrightActivity"
            android:label="@string/title_activity_map_data_copyright"
            android:parentActivityName=".AboutActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>
    </application>

</manifest>
